<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Env" value=""/>
    <add key="DaysToFilter" value=""/>
    <add key="HangfireWorkerCount" value=""/>
    <add key="UserToRecordAgainst" value=""/>
    <add key="MaxRecordsPerCsvFile" value=""/>
    <add key="DelayBetweenCsvSchedules" value=""/>
    <add key="JobFolderRootPath" value=""/>
    <add key="BaseStagingFolder" value=""/>
    <!-- Logging -->
    <add key="EventLogServiceName" value=""/>
    <add key="LogFilePath" value=""/>
    <add key="MinimumLevel" value=""/>
    <add key="LevelOverrides" value=""/>
    <add key="IsJson" value=""/>
    <add key="FileSizeLimitBytes" value=""/>
    <add key="RetainedFileCountLimit" value=""/>
    <add key="OutputTemplate" value=""/>
    <add key="LogServiceUrl" value=""/>
    <!-- Serilog Logging -->
    <add key="serilog:minimum-level" value="" />
    <add key="serilog:minimum-level:override:System" value="" />
    <add key="serilog:minimum-level:override:Microsoft" value="" />
    <add key="serilog:minimum-level:override:DCS" value="" />
    <add key="serilog:minimum-level:override:Hangfire" value="" />
    <!-- Console Logging -->
    <add key="serilog:using:Console" value="" />
    <add key="serilog:write-to:Console"/>
    <!-- File Logging -->
    <add key="serilog:using:File" value="" />
    <add key="serilog:write-to:File.path" value="" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="" />
    <add key="serilog:write-to:File.rollingInterval" value=""/>
    <add key="serilog:write-to:File.outputTemplate" value=""/>
    <!-- Eventlog Logging -->
    <add key="serilog:using:EventLog" value="" />
    <add key="serilog:write-to:EventLog.restrictedToMinimumLevel" value="" />
    <add key="serilog:write-to:EventLog.source" value="" />

    <!-- REST Endpoints and SSL Certificates -->
    <add key="RESTAPIPort" value=""/>
    <add key="DNSName" value=""/>
    <add key="UseCertificateForSSL" value=""/>
    <add key="CertificateSubject" value="" />
    <add key="CertificateStoreName" value=""/>
    <add key="CertificateLocation" value=""/>
    <add key="CertificateAllowInvalid" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MonolithicDB" connectionString="" providerName="System.Data.SqlClient" />
    <add name="HangfireComposition" connectionString="" providerName="System.Data.SqlClient" />
    <add name="HangfireDelivery" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>