# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TSC.Composition.Services.Scheduler.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\repos\TSCAU\TSC.Composition.Services.Scheduler\source\.idea\.idea.TSC.Composition.Services.Scheduler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
