<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Env" value="DEV"/>
    <add key="DaysToFilter" value="90"/>
    <add key="HangfireWorkerCount" value="10"/>
    <add key="UserToRecordAgainst" value="SCHD"/>
    <add key="MaxRecordsPerCsvFile" value="50000"/>
    <add key="DelayBetweenCsvSchedules" value="00:00:15"/>
    <add key="JobFolderRootPath" value="C:\CorresSystem\Jobs\Batch"/>
    <add key="BaseStagingFolder" value="C:\CorresSystem\Staging\PrintVendor\[REPLACEWITHSTAGINGFOLDER]\System\input"/>
    <!-- Logging -->
    <add key="EventLogServiceName" value="TSC.Composition.Services.Scheduler"/>
    <add key="LogFilePath" value="C:\CorresSystem\ServiceLogs\scheduler.log"/>
    <add key="MinimumLevel" value="Information"/>
    <add key="LevelOverrides" value="Default|Information,System|Information,Microsoft|Information,DCS|Information,Hangfire|Information"/>
    <add key="IsJson" value="true"/>
    <add key="FileSizeLimitBytes" value="536870912"/>
    <add key="RetainedFileCountLimit" value="31"/>
    <add key="OutputTemplate" value="{Timestamp:o} {RequestId,13} [{Level:u3}] {Message} ({EventId:x8}){NewLine}{Exception}"/>
    <add key="LogServiceUrl" value="https://localhost:19130/api/TSCLogger/LogMessage"/>
    <!-- Serilog Logging -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:minimum-level:override:System" value="Warning" />
    <add key="serilog:minimum-level:override:Microsoft" value="Warning" />
    <add key="serilog:minimum-level:override:DCS" value="Information" />
    <add key="serilog:minimum-level:override:Hangfire" value="Information" />
    <!-- Console Logging -->
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console"/>
    <!-- File Logging -->
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="C:\CorresSystem\ServiceLogs\composition-scheduler.log" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="31" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="536870912" />
    <add key="serilog:write-to:File.rollingInterval" value="Day"/>
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:o} {RequestId,13} [{Level:u3}] {Message} ({EventId:x8}){NewLine}{Exception}"/>
    <!--<add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact" />-->
    <!-- Eventlog Logging -->
    <add key="serilog:using:EventLog" value="Serilog.Sinks.EventLog" />
    <add key="serilog:write-to:EventLog.restrictedToMinimumLevel" value="Error" />
    <add key="serilog:write-to:EventLog.source" value="TSC.Composition.Services.Scheduler" />

    <!-- REST Endpoints and SSL Certificates -->
    <add key="RESTAPIPort" value="10100"/>
    <add key="DNSName" value="tscdev.composition.services.scheduler"/>
    <add key="UseCertificateForSSL" value="false"/>
    <add key="CertificateSubject" value="localhost" />
    <add key="CertificateStoreName" value="MY"/>
    <add key="CertificateLocation" value="LocalMachine"/>
    <add key="CertificateAllowInvalid" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="MonolithicDB" connectionString="Server=192.168.1.110,1433; database=MonolithicDBDEV;Integrated Security=false;User Id=composition;password=Winter210!;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" />
    <add name="HangfireComposition" connectionString="Server=192.168.1.110,1433;Database=HangfireCompositionDEV; Trusted_Connection=false;User Id=composition;password=Winter210!; MultipleActiveResultSets=True;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" />
    <add name="HangfireDelivery" connectionString="Server=192.168.1.110,1433;Database=HangfireDeliveryDEV; Trusted_Connection=false;User Id=composition;password=Winter210!; MultipleActiveResultSets=True;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>